<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input_category</title>
</head>
<body>
    <center>
        <h2>Ввод параметров поиска</h2>
        <div>
            <form action="" method="post"> <!-- верни управление тому обработчику, который создал форму -->
                <label for="prod_category">Категория продуктов</label>
                <input type="text" name="prod_category" id="prod_category">
                <br><br>
                <input type="submit" value="Отправить">
            </form>
        </div>
        <a href="{{ url_for('main_menu') }}">Главное меню</a>
    </center>
</body>
</html>